{{define "body"}}
<ul class="list-group">
  <list class="list-group-item  list-group-item-success">
    <form action="/Room/create" method="post">
  <div class="form-group">
    <label for="email">Room Name:</label>
    <input class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label for="pwd">Room is Private:</label>
    <input type="password" class="form-control" id="pwd" placeholder="password" name="pass">
  </div>
  <input type="submit" class="btn btn-block btn-danger" value="Create new Roome"/>
  </form></list>
  
    <list class="list-group-item list-group-item-info">
 <form class="form-inline right" action="/Room" method="post">
   <input class="form-control" placeholder="Search" name="search">
   <select class="form-control" id="sel1" name="type">
     <option>all</option>
     <option>Private</option>
     <option>public</option>
      </select>
   <input type="submit"  class="btn btn-danger" value="Search Rooms"/>
    </form></list>
    <list class="list-group-item list-group-item-danger">
<div class="container">
  <div class="row">
    <div class="col-sm-2"><p>Name</p></div>
    <div class="col-sm-2"><p>Statut</p></div>
    <div class="col-sm-2"><p>Password</p></div>
     <div class="col-sm-2"><p>Roomer</p></div>
  </div>

  {{range $index, $element := .Donne}}
  <div class="row">
<form class="form-inline right" action="/Room/Connect/{{$index}}" method="post">
  <div class="col-sm-2"><label>{{$index}}</label></div>
  {{if eq $element.Ai true}}
 <div class="col-sm-2"> <label>Private</label></div>
  <div class="col-sm-2"><input class="form-control" placeholder="Password" name="pass"></div>
{{else}}
  <div class="col-sm-2"><label>Public</label></div>
  <div class="col-sm-2"></div>
  {{end}}
  <div class="col-sm-2"><label>Roomer:  {{$element.Nbr}}</label></div>
  <div class="col-sm-2"><input type="submit"  class="btn btn-danger" value="Connect Rooms"/></div>
</form>
</div>
{{ end }}
</div>
</list>
</ul>
{{end}}
